.ruleGroupRow {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: rgba(255, 233, 172, 0.5);
  margin: 0.5rem;
}

.rule {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.filteredOptionsContainer {
  background: white;
  position: absolute;
  max-height: 20rem;
  overflow-y: auto;
  border: 2px solid black;
}

.filteredOptionsList {
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
}

.filteredOptionsItem:hover {
  background: lightgray;
  cursor: pointer;
}

.dropdown {
  height: 1.6em;
}
